* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    color: #292929;
    
/*
    background-image: url('../img/abstract-art-background-1040473.jpg');
    box-sizing: border-box;
    background-size: cover;
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.6);
*/
}

.menu {
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    z-index: 1;
}

.menu .search-item {
    display: inline-block;   /*ulozenie elementu*/
    position: absolute;
    right: 30px;
    top: 20px;
    border: 2px solid #dedede;    /*granica diva zawieraca pole search i button*/
    border-radius: 5%;
    transition: 0.5s;    /*na hover*/
}

.menu .search-item .search-inside {
    border: none;        /*granica pojedynczych elementow*/
    background-color: white;
    padding: 10px;
    color: #a8a8a8;  /*kolor ikonki search*/
}

.search-inside::placeholder {
    color: #a8a8a8;  
}

.search-item:hover {
    border: 2px solid #7b3289; /*hover na inpucie*/
}

.menu .search-item .fa:hover {   /*hover na buttonie*/
    color: #7b3289;
}

.menu .search-item .search-inside:focus {     /*styl pola i tekstu po kliknieciu*/
    color: #510E5E;
    outline: none;
}

.menu ul {
    padding: 25px 0px;        /*polozenie elementu*/
    margin-left: 25px;
    display: inline-block;
}

.menu .menu-item {
    display: inline-block;
}

.menu-item a,
.menu-item i {
    font-weight: 700;         /*grubosc czcionki*/
    text-decoration: none;    /*brak podkreslenia w linku*/
    color: #777777;
    padding: 0px 20px;
}

.menu-item a:hover {
    color: #510E5E;
}

.menu-item .fas {
    color: #510E5E;
}

#header {
    background-image: url('../img/top-image.jpg');
    background-size: cover;
    height: 100vh;
    position: relative;
}

h1 {
    color: #ffffff;
    font-size: 120px;
    font-family: 'EB Garamond', sans-serif;
    font-weight: 150;
    line-height: 100vh;
    margin-left: 150px; 
}

#find-a-flight {
    position: absolute;
    background-color: #510E5E;
    width: 80%;
    height: 100px;
    z-index: 1;
    left: 10%;
    top: 603px;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
}

#flights {
    padding: 100px 280px;
    text-align: center;
    position: relative;
}

h2 {
    font-family: 'EB Garamond', sans-serif;
    font-weight: 200;
    font-size: 70px;
    padding-bottom: 40px;
}

.section-text {
    font-size: 20px;
    padding-bottom: 40px;
    text-align: justify;
}

.flight-icons {
    display: inline-block;
}

.flight-icons img {
    width: 33%;
    height: 25%;
}

#parallax-image {
    background-image: url('../img/air-atmosphere-blue-314726.jpg');
    height: 120px;
    background-attachment: fixed;
    background-size: cover;
}

#parallax-image .mask {
    width: 100%;
    height: 100%;
    background-color: #7b3289;
    opacity: 0.5;
}

.description {
    padding: 100px 280px;
    text-align: center;
}

.gallery {
    padding: 0px 100px;
    display: flex;
    flex-flow: wrap;
}

.city-figure {
    width: 33.3%;
    height: 305px;
    text-align: center;
}
.city-figure figacaption {
    font-weight: 700;
}

.background {
    background-size: cover;
    width: 100%;
    height: 100%;
}

.new-york {
    background-image: url('../img/newyork.jpg');
}

.dubai {
    background-image: url('../img/architectural-design-architecture-bay-316001.jpg');
}

.london {
    background-image: url('../img/big-ben-bridge-castle-460672.jpg');
}

.paris {
    background-image: url('../img/architecture-buildings-city-739407.jpg');
}

.amsterdam {
    background-image: url('../img/amsterdam-architecture-bicycles-1187911.jpg');
}

.rioDeJaneiro {
    background-image: url('../img/backlit-buildings-christ-811212.jpg');
}

.outern {
    width: 80%;
    height: 80%;
    display: inline-block;
    transition: 0.8s;
}

.outern:hover {
    transform: scale(1.2);
}

.mask {
    opacity: 0;
    background-color: rgba(81, 14, 94, 0.6);
    height: 100%;
    transition: 0.8s;
    position: relative;
    
}

.mask:hover {
    opacity: 1;
}

.mask-btn {
    color: #FFFFFF;
    font-size: 25px;
    padding: 5px;
    background-color: transparent;
    border: solid 2px #FFFFFF;
    border-radius: 5%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    
}

.description .fa-heart {
    color: #510E5E;
    font-size: 40px;
    padding-bottom: 20px;
}

.description hr {
    background-color: #510E5E;
    border: none;
    height: 2px;
    width: 40%;
    display: inline-block;
    margin-bottom: 19px;
}

.description .left {
    margin-right: 20px;
}

.description .right {
    margin-left: 20px;
}