* {
    box-sizing: border-box;
    margin: 0;

}
/*font-family: 'Quicksand', sans-serif;
font-family: 'Signika', sans-serif;*/

/*navigation-menu*/

#menu {
    background-color: transparent;
    position: fixed;
    text-align: right;
    width: 100%;
    z-index: 1;
}

#menu ul {
    padding: 20px 0px;
}

.menu-item {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    list-style: none;
    display: inline-block;
    margin: 0 30px;
    color: #fef8ff;
}

#menu ul li::before {
    height: 2px;
    width: 0%;
    content: "";
    position: absolute;
    margin: 26px 0px 0px -25px;
    transition: all 0.5s;
}

#menu ul li:hover::before {
    background-color: #402e3c;
    width: 100%;
}

#menu ul li {
     transition: all 0.5s;
}

#menu ul li:hover {
    color: #402e3c;
}

/*header*/

#main-header {
    background-image: url(../Images/headergraphic.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: #402e3c;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    position: relative;
}

#main-header div {
    position: absolute;
    width: 100%;
    text-align: right;
    top: 32%;
    left: 42%;
    transform: translate(-50%, -50%);
}

h1 {
    font-weight: 500;
    font-size: 80px;
}

h2 {
    font-weight: 300;
    font-size: 50px;
}

